.btnBack {
    position: absolute;
    top: 4%;
    left: 1%;
}

.btnVolver a:hover {
    font-size: 0.8em;
}

.back{
    font-size: 4em;
    color: black !important;
}

.btnNext{
    background-color: #D90472;
    color: white;
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 0.3em;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: 20px; 
}

.btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    background-color: rgba(217, 4, 114, 0.36);
    color: white !important;
}